@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: absolute;
}